In [1]:
import numpy as np 
import pandas as pd 
import datetime

In [4]:
data = pd.read_excel('./datasets/Online Retail.xlsx')
# data.head()
# print(len(data))

In [5]:
data = data[data['CustomerID'].notnull()]
# len(data)

In [6]:
# data.head()

In [7]:
# data['InvoiceDay'] = data['InvoiceDate'].apply(lambda x : datetime.datetime()  )
data['InvoiceDay'] = data['InvoiceDate'].apply(lambda x : datetime.datetime(x.year , x.month , x.day))

In [8]:
origin_data = max(data['InvoiceDay']  + datetime.timedelta(1))
data['money_paid'] = data['Quantity'] * data['UnitPrice']
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,money_paid
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34

In [10]:
rfm = data.groupby(data['CustomerID']).agg(
{
    'InvoiceDay' : lambda x : (origin_data - x.max()).days,
    'InvoiceNo' : 'count',
    'money_paid': 'sum'
    
})

rfm

            InvoiceDay  InvoiceNo  money_paid
CustomerID
12346.0            326          2        0.00
12347.0              3        182     4310.00
12348.0             76         31     1797.24
12349.0             19         73     1757.55
12350.0            311         17      334.40
...                ...        ...         ...
18280.0            278         10      180.60
18281.0            181          7       80.82
18282.0              8         13      176.60
18283.0              4        756     2094.88
18287.0             43         70     1837.28

[4372 rows x 3 columns]