In [2]:
import pandas as pd 
import numpy as np 
import tensorflow as tf

In [13]:
data  = pd.read_csv('./deep learning with krass and tensorflow for predict hear desition/cardio_train1.csv')

In [14]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [9]:
data.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [17]:
from sklearn.preprocessing import MinMaxScaler
data.drop('id' , inplace=True , axis=1)

In [24]:
X = data.iloc[: , :-1]
Y = data.iloc[: , -1]
minmax = MinMaxScaler()

In [25]:
X = minmax.fit_transform(X)

In [35]:
Y = pd.get_dummies(Y)
from sklearn.model_selection import train_test_split

pandas.core.frame.DataFrame

In [36]:
X_train , X_test , Y_tain , Y_test =  train_test_split(X , Y)

In [ ]:
tf.keras.models.Sequential([
    tf.keras.layers.Dense(12 , )
])